@model MVCAuthorization.ViewModels.AccountAdditionalViewModel
@{
	ViewBag.Title = "Registration form";
}

<div>
	@using (Html.BeginForm())
	{
		<fieldset>
			<div style="float: left">
				@Html.Label("Choose your sex:")
			</div>
			<div class="div-checkbox">
				@Html.HiddenFor(a => a.Sex)
				@Html.CheckBox("Male", false, new { @class = "sex-checkbox", data_groupid = "1", data_multichoise = "0", data_id = "Male" })
				Male
				<br />
				@Html.CheckBox("Female", false, new { @class = "sex-checkbox", data_groupid = "1", data_multichoise = "0", data_id = "Female" })
				Female
				<br />
				@Html.ValidationMessageFor(a => a.Sex)
			</div>
			<br />
			@Html.Label("Choose your country:")
			@Html.DropDownListFor(a => a.SelectedCountryId, Model.CountryNames, new { @class = "countries-list" })
			<br />
			@Html.ActionLink("Back", "RegForm", "Home", new { cookies = true }, null)
			<input id="next" name="next" type="submit" value="Next" />
		</fieldset>
	}
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	$('.sex-checkbox').click(function () {
		if (this.checked) {
			if (!$(this).data("multichoice")) {
				$('.sex-checkbox[data-groupid="' + $(this).data('groupid') + '"]').not(this).prop('checked', false);

				if ($(this).data('id') == 'Male')
					$('input[id=Sex]').val('Male');
				else
					$('input[id=Sex]').val('Female');
			}
		}
		else
			$('input[id=Sex]').val(null);
	});
</script>